/* General Reset and Box Sizing */
body, h1, h2, p, form, input, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #244855;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2 {
    color: #fbe9d0;
}

/* Navbar Styles */
.navbar {
    background-color: #244855;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #874f41;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #E64833;
    margin-left: 6%;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #E64833;
    font-size: 16px;
    text-decoration: none;
}

.nav-link:hover {
    color: #ccc;
}

/* Hero Section Styles */
#hero {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

/* Form Styles */
.form-select {
    background-color: #90aead;
    border: 3px solid #874f41;
}

#movie-search {
    padding: 0.75rem;
    font-size: 1rem;
    width: 70%;
    max-width: 400px;
    border: none;
    border-radius: 4px;
    margin-right: 0.5rem;
}

#search-form button, 
#genre-form button, 
#other_genre button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #E64833;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#genre-form button{
    margin-top: 3px;
    margin-bottom: 3px;
}

#search-form button:hover, 
#genre-form button:hover, 
#other_genre button:hover {
    background-color: #ab2615;
}

/* Recommendations Section Styles */
#recommendations {
    padding: 2rem 0;
    text-align: center;
}

#recommendations h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

/* Movie Item Styles */
.movie-item {
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-item img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-item h3 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
    padding: 0 1rem;
}

.movie-item p {
    font-size: 0.875rem;
    color: #ccc;
    padding: 0 1rem 1rem;
}

.movie-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Movie Poster Styles */
.movie-poster {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 1em;
}

.poster {
    margin: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    width: 200px; 
    height: 300px;
}

.poster:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.poster img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.poster p {
    text-align: center;
    padding: 10px 0;
    font-size: 1.1em;
    background-color: #222;
    margin: 0;
    border-radius: 0 0 5px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    font-size: 1em;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Genre Form Styles */
#genre-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#genre-search button {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #90aead;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 2px;
}

#genre-search button:hover {
    background-color: #7b9493;
}

/* Testimonial Section Styles */
.testimonial-section {
    background-color: #244855;
    padding: 80px 0;
    text-align: center;
}

.testimonial-box {
    border: 2px solid #fbe9d0;
    padding: 20px;
    display: inline-block;
}

.testimonial-text {
    margin-top: 12px;
    margin-bottom: 40px;
    font-size: 1.25rem; 
    font-weight: 800; 
    color: #90aead;
    line-height: 1.375;
}

.testimonial-text.md-text {
    font-size: 1.875rem; 
}

.highlight-text {
    color: #ffffff;
    background: linear-gradient(to right, #E64833, #fbe9d0); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatar {
    margin: 0 auto 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.avatar img {
    border-radius: 50%;
}

.author-name {
    font-size: 1rem; 
    font-weight: 500; 
    color: #e2e8f0; 
}

/* Footer Styles */
footer {
    background-color: #244855; 
    color: white;
    padding: 10px;
    text-align: center;
    border-top: 3px solid #874f41;
}